<p> Autor: Javier Gonzalez Vicente </p>

<div id="foto">
	<IMG SRC="http://javiergonzalezvicente.neocities.org/Practica1/foto1.jpg" width="400" height="492" alt="Louis-Francois Bertin - Ingres"><IMG>
</div>		
	
<div id="video1">
	<iframe width="854" height="480" src="https://www.youtube.com/embed/QtXby3twMmI" frameborder="0" allowfullscreen></iframe>
</div>




